@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.animate-zoom-enter {
  animation: animatezoom 0.4s;
  transform-origin: top right;
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.animate-zoom-exit {
  transform-origin: top right;
  transition: transform 0.4s;
  transform: scale(0);
}

::-webkit-scrollbar {
  z-index: 50;
  width: 6px;
  height: 4px;
  background-color: #adadad;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  background-color: #f5f5f8;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}

.purple-button {
  background-image: linear-gradient(180deg, #ac44cf 50%, #bf59cf 50%);
}

.blue-button {
  background-image: linear-gradient(180deg, #0063cb 50%, #0070e6 50%);
}

.red-button {
  background-image: linear-gradient(180deg, #d3396d 50%, #ec407a 50%);
}

.dark-blue-button {
  background-image: linear-gradient(180deg, #5157ae 50%, #5f66cd 50%);
}

.light-blue-button {
  background-image: linear-gradient(180deg, #0795dc 50%, #0eabf4 50%);
}

.green-button {
  background-image: linear-gradient(180deg, #059186 50%, #02a698 50%);
}

.animate-attach-enter {
  opacity: 0;
  animation: animatezoom 0.5s;
  transform-origin: bottom;
}

.animate-attach-enter-active {
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}

.animate-attach-exit {
  transform-origin: bottom;
  transition: transform 0.5s;
  transform: scale(0);
}

.animate-attach-exit-active {
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.animate-emoji-enter {
  opacity: 0;
  animation: animatezoom 0.5s;
  transform-origin: bottom left;
}

.animate-emoji-enter-active {
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}

.animate-emoji-exit {
  transform-origin: bottom left;
  transition: transform 0.5s;
  transform: scale(0);
}

.animate-emoji-exit-active {
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
